// Specific CSS for your home-page
#home-page-car {
  html,
  body {
    height: 100%;
    width: 100%;
    background: #e02121;
    font-family: "IBM Plex Sans", sans-serif;
    color: black;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    overflow-x: hidden;
    margin: auto;
  }
  h2,
  h3,
  h4,
  h6 {
    font-weight: 600;
  }
  h3,
  h4,
  span {
    color: #e5e52b;
  }
  a {
    text-decoration: none;
  }
  p {
    line-height: 26px;
    margin-bottom: 0;
  }
  fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
  }
  .section-padding {
    position: relative;
  }
  .section-title {
    margin-bottom: 80px;
  }
  .section-title h6 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
  }
  .section-title h3 {
    text-transform: uppercase;
    position: relative;
  }
  .full-screen {
    height: 100vh;
    width: 100%;
  }
  .slider-content {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }
  .slider-content-inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    .slider-content-inner-one {
      margin-bottom: 3rem;
    }
  }
  .slider-content h2 {
    font-size: 30px;
    margin: 0 0 80px;
    position: relative;
  }
  .slider-content h2 span {
    text-transform: uppercase;
    font-size: 40px;
  }
  .slider-content h2:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 96%;
    background: #002626;
    bottom: -50px;
    left: -10px;
  }
  .slider-content p {
    margin-bottom: 35px;
  }
  .custom-container {
    position: static;
    max-width: 1220px;
    margin: 0 auto;
  }
  .our-features {
    box-shadow: 0 5px 40px rgba(41, 41, 41, 0.2);
  }
  .our-features .feature-main {
    border: 1px solid black;
  }
  .single-feature {
    padding: 58px;
  }
  .single-feature h4 {
    font-size: 20px;
    text-transform: uppercase;
  }
  #footerone {
    padding: 80px 0 0px;
  }
  .car-brand {
    display: inline;
    height: 100px;
  }
  // COLORS ------------------
  .bg-car-primary {
    background: #e5e52b;
  }
  .color-car-primary {
    color: #e5e52b;
  }
  .color-car-primary-shade {
    color: #d1d120;
  }

  .btn {
    border: 1px solid black;
  }

  .btn:hover {
    background-color: yellow;
    transition: all 0.4s ease-in-out;
  }
  .btn-inner-container {
    margin-bottom: 0;
  }
  .more:hover {
    color: yellow;
    transition: all 0.4s ease-in-out;
  }
  .home-icon {
    font-size: 3rem;
  }
}

.link-reset {
  text-decoration: none !important;
  color: black;
}

.link-reset:hover {
  text-decoration: none !important;
}

.btn-link {
  background: #e5e52b;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none !important;
  color: black;
  padding: 4px;
}

h4 {
  color: #bace23;
}
