<div class="container mt-5 mr-2 text-center">
  <% @members.each do |member| %>
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title"><%= member.first_name %>(<%= member.friends.length %>)</h5>
      <% if !@user.friend_with?(member) %>
      <p>Friend request</p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>