<div class="container mt-5">
  <h4>Friend Request</h4>
  <%= simple_form_for [ @friend, @invitation ] do |f| %>
  <%= f.input :message %>
  <%= f.submit %>
  <% end %>
  <p><%= link_to "Back", :back, :class => "link-reset" %></p>
</div>