.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-brand:hover {
  opacity: 60%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .avatar {
  cursor: pointer;
}

.navbar-lewagon .nav-link {
  margin-right: 8px;
  background: #e5e52b;
  border: 1px solid black;
  border-radius: 8px;
}

.nav-link:hover {
  background: yellow;
}
